body {
  background-color: #FFF6FB;
  margin: 0;
  padding: 0;
}

div {
  border: none;

}

h1 {
  color: #39000E;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 50px;
}